<div id="wrapper" ng-controller='EventosListaController' ng-init='init()'>
    <div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <div class="page-header">
	                <h1>Mis Eventos <small>Lista de eventos</small></h1>
                </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <uib-progressbar ng-show="model.cargando" class="progress-striped active" type="catchai" animate="true" value="100"></uib-progressbar>
	            <div class="table-responsive">
	                <table class="table">
	                    <thead>
	                        <tr>
	                            <th>ID </th>
	                            <th>Nombre </th>
	                            <th>Acciones </th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="evento in model.eventos" class="img animated fadeIn">
	                            <td>{{evento.idevento}}</td>
	                            <td>{{evento.nombre}}</td>
	                            <td>
	                                <a href="" ng-click="irEditar(evento);"><i class='fa fa-pencil colorCatchai'></i></a>
	                                <a href="" ng-click="irGifs(evento);"><i class='fa fa-list colorCatchai'></i></a>
	                                <a href="" ng-click="eventoEliminar(evento);"><i class='fa fa-trash colorCatchai'></i></a>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <nav>
	                <ul class="pagination" style="cursor:pointer;">
	                    <li><a class="colorCatchai" ng-click="eventosPrev();" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
	                    <li ng-repeat="i in getNumber(model.totalPaginas) track by $index"><a class="colorCatchai" ng-click="eventosCargar($index+1);">{{$index+1}}</a></li>
	                    <li><a class="colorCatchai" ng-click="eventosNext();" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	                </ul>
	            </nav>
	        </div>
	    </div>
	</div>
</div>